/* PRELOADER GOES BEFORE ANYTHING ELSE----*/
.mask {
  background-color: #FFF;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0px;
  left:0px;
  z-index: 100000;
}

#spinner {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    background: url("../image/001-rocking-horse.png") center center no-repeat;
    background-size: 80px 80px;
    -webkit-animation: babystreet-swing ease-in-out 0.5s infinite alternate;
    animation: babystreet-swing ease-in-out 0.5s infinite alternate;
    transform-origin: center 120px;
}

#spinner:before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    border: 2px dashed;
    border-radius: 50%;
    opacity: 0.4;
}

@-webkit-keyframes babystreet-swing {
    0% { transform: rotate(12deg); }
    100% { transform: rotate(-12deg); }
}

@keyframes babystreet-swing {
    0% { transform: rotate(12deg); }
    100% { transform: rotate(-12deg); }
}

/* END OF PRELOADER ----*/